@import "tailwindcss";

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(224 0% 1%);
  --bg: hsl(224 0% 4%);
  --bg-light: hsl(224 0% 9%);
  --text: hsl(224 0% 95%);
  --text-muted: hsl(224 0% 69%);
  --highlight: hsl(224 0% 39%);
  --border: hsl(224 0% 28%);
  --border-muted: hsl(224 0% 18%);
  --primary: hsl(16 69% 71%);
  --secondary: hsl(194 65% 62%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0 40);
  --bg: rgb(11, 11, 11);
  --bg-light: oklch(0.2 0 40);
  --text: oklch(0.96 0 40);
  --text-muted: oklch(0.76 0 40);
  --highlight: oklch(0.5 0 40);
  --border: oklch(0.4 0 40);
  --border-muted: oklch(0.3 0 40);
  --border-card: solid 1px var(--bg);
  --primary: oklch(0.76 0.1 40);
  --secondary: oklch(0.76 0.1 220);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  
  --grad-start: var(--bg);
  --grad-end: var(--bg-light);

  --grad-hover-start: var(--bg);
  --grad-hover-end: var(--bg-light);
  
  --gradient: linear-gradient(0deg, var(--grad-start) 50%, var(--grad-end));
  --gradient-hover: linear-gradient(0deg, var(--grad-hover-start), var(--grad-hover-end));
}

:root.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(224 0% 90%);
  --bg: hsl(224 0% 95%);
  --bg-light: hsl(224 100% 100%);
  --text: hsl(224 0% 4%);
  --text-muted: hsl(224 0% 28%);
  --highlight: hsl(224 100% 100%);
  --border: hsl(224 0% 50%);
  --border-muted: hsl(224 0% 62%);
  --primary: hsl(16 65% 27%);
  --secondary: hsl(190 100% 13%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0 40);
  --bg: oklch(0.96 0 40);
  --bg-light: oklch(1 0 40);
  --text: oklch(0.15 0 40);
  --text-muted: oklch(0.4 0 40);
  --highlight: oklch(1 0 40);
  --border: oklch(0.6 0 40);
  --border-muted: oklch(0.7 0 40);
  --border-card: solid 1px var(--bg);
  --primary: oklch(0.4 0.1 40);
  --secondary: oklch(0.4 0.1 220);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);

  --grad-start: var(--bg);
  --grad-end: var(--bg-light);

  --grad-hover-start: var(--bg);
  --grad-hover-end: var(--bg-light);
  
  --gradient: linear-gradient(0deg, var(--grad-start) 97%, var(--grad-end));
  --gradient-hover: linear-gradient(0deg, var(--grad-hover-start), var(--grad-hover-end));
}

@font-face {
    font-family: "Saudi";
    src: url("./assets/fonts/SaudiWeb-Bold.woff2") format("woff2"),
         url("./assets/fonts/SaudiWeb-Bold.woff") format("woff"),
         url("./assets/fonts/Saudi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-variant: normal; 
}

@font-face {
    font-family: "Saudi";
    src: url("./assets/fonts/SaudiWeb-Regular.woff2") format("woff2"),
         url("./assets/fonts/SaudiWeb-Regular.woff") format("woff"),
         url("./assets/fonts/Saudi-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

html[lang="ar"] {
  --font-main: "Saudi", sans-serif;
  --text-direction: rtl;
  --line-height: 2.2em;
}

html[lang="en"] {
  --font-main: 'Courier New', Courier, monospace;
  --text-direction: ltr;
  --line-height: 1.5em;
}

@keyframes scrollSkills {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@theme {
  --animate-scroll-skills: scrollSkills 30s linear infinite;
  --font-saudi: "Saudi", sans-serif
}


@layer base {
  body {
    @apply bg-(--bg-dark) text-(--text-muted); /* Sets background color and text color globally */
  }
}

body {
  margin: 0 auto;
}

html[lang="en"], Link {
  font-family: "Montserrat", sans-serif;
}

html[lang="ar"], Link {
  font-family: "Saudi", sans-serif;
}

.footer {
  font-family: "Saudi", sans-serif !important;
}

.text-content
{
  font-family: var(--font-main);
  direction: var(--text-direction);
  line-height: var(--line-height);
}


@media only screen and (max-width: 3440px) {
  body {
    max-width: min(120vw, 1800px);
  }
}
@media only screen and (max-width: 1920px)
{
  body {
    max-width: min(100vw, 1400px);
  }
}

@media only screen and (max-width: 1536px)
{
  body {
    max-width: min(90vw, 1200px);
  }
}

@media only screen and (max-width: 1366px)
{
  body {
    max-width: min(90vw, 1000px);
  }
}

@media only screen and (max-width: 460px)
{
  body {
    max-width: min(90vw, 450px);
  }
}

@media only screen and (max-width: 428px)
{
  body {
    max-width: min(90vw, 400px);
  }
}

@media only screen and (max-width: 390px)
{
  body {
    max-width: min(80vw, 370px);
  }
}

@media only screen and (max-width: 360px)
{
  body {
    max-width: min(80vw, 340px);
  }
}