footer {
    display: flex;
    background: var(--gradient);
    width: 100%;
    padding: 1rem 1.3rem;
    margin-top: 4rem;
    border-radius: 1rem;
    font-size: 1.22rem;
    justify-content: space-between;
}

footer * {
    cursor: default;
}

footer div {
    display: block;
    gap: 0.2rem;
}

footer h1 {
    font-size: 0.8rem;
    height: 0.8rem;
}

footer div a {
    margin-right: 0rem;
}

footer #title {
    width: 25%;
    text-align: center;
}

footer #title hr {
    width: 80%;
    margin: 0.2rem auto;
}

@media only screen and (max-width: 3440px) {
    footer h1 {
        font-size: 0.8rem;
    }
    footer #title {
        width: 25%;
    }
}

@media only screen and (max-width: 1440px) {
    footer h1 {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 1100px)
{
    footer h1 {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 1010px)
{
}

@media only screen and (max-width: 970px)
{
    footer div a i {
        font-size: 0.8rem;
    }
    footer h1 {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 440px)
{
    footer h1 {
        font-size: 0.48rem;
    }
    footer div a i {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 428px)
{
    footer h1 {
        font-size: 0.48rem;
    }
    footer div a i {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 420px)
{
    footer h1 {
        font-size: 0.44rem;
    }
    footer div a i {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 390px)
{
    footer h1 {
        font-size: 0.45rem;
    }
    footer div a i {
        font-size: 0.75rem;
        height: 0.2rem !important;
    }

    footer #title {
        width: 35%;
    }
}

@media only screen and (max-width: 320px)
{
    footer h1 {
        font-size: 0.43rem;
    }
    footer div a i {
        font-size: 0.75rem;
        height: 0.2rem !important;
    }

    footer #title {
        width: 35%;
    }
}